.table {
    margin-bottom: 20px;
    width: 100%;
    overflow: auto;
    &-row {
        display: flex;
        width: 100%;
        text-align: left;
        // border: 1px solid black;
        &-item {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            padding: 10px;
            &:first-of-type,
            &:nth-of-type(3),
            &:nth-of-type(4) {
                width: 10%;
            }
            &:nth-of-type(2) {
                width: 60%;
            }
            &:last-of-type {
                width: 10%;
                border-right: 1px solid black;
            }
            @media only screen and (max-width: 600px) {
                &:nth-of-type(2) {
                    display: none;
                }
                &:first-of-type,
                &:nth-of-type(3),
                &:nth-of-type(4),
                &:last-of-type {
                    width: 25%;
                }
            }
            input,
            button {
                height: 25px;
                width: 40px;
                text-align: center;
            }
            button {
                width: fit-content;
            }
        }
        &:first-of-type {
            background-color: #d6dbe2;
            border-top: 1px solid black;
        }
    }
}