.App {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    @media only screen and (max-width: 800px) {
        font-size: 13px;
    }
    .total {
        font-size: 20px;
        float: right;
    }
}